@font-face {
    font-family: "Tube";
    src: url("Tube.ttf");
}

.index{
  background: url("../images/skyline.jpg");
  background-size: cover;
}

h1,h2 {
    font-family: "Tube",sans-serif;
    color:floralwhite;
}

a,a:hover{
  color:floralwhite;
}

i{
  color:rgb(85, 119, 119);
}

i:hover{
  color:rgb(255, 242, 232);
}

.presentation{
  margin-top: 50px;
  min-height: 400px;
}
