body{
  background-color: rgb(238, 238, 221);
  font-family: 'Kanit', sans-serif;
}

a,a:hover{
  color:floralwhite;
}

.social{
  color:rgb(204, 187, 153);
}

.social-inverse{
  color:rgb(106, 115, 137);
}

.social:hover{
  color:rgb(238, 238, 221);
}

.social-inverse:hover{
  color:rgb(204, 187, 153);
}

.thumb{
  width:400px;
  margin-top:40px;
}

.thumb:hover{
  background-color: rgb(106, 115, 137);
}

.showcase{
  vertical-align:middle;
  margin-bottom:50px;
}

.fa{
  font-size:50px;
  margin:40px 30px 40px 30px;
}

.fa-brown{
  color:rgb(204, 187, 153);
}

.jumbotron{
  color:floralwhite;
  text-align:left;
  min-height:100vh;
  background-color:rgba(153, 136, 119,0.8);
}

.bg-parl{
  background-image: url("../images/ottawa.jpg");
  background-size: cover;
  min-height:100vh;
}

#about,#tools,#projects,#contact{
  text-align:center;
}

.contact-form{
  background-color: rgb(233, 215, 177);
  border:1px ridge;
}

.modal-thumbnail{
  display:inline-block;
  width:618px;
  background:lightgrey;
}

.resume{
  margin-top: 40px;
  margin-bottom: 40px;
}

.p-footer{
  background-color: rgb(106, 115, 137);
  min-height: 200px;
  margin-top:50px;
  text-align:center;
}

.socialmedia{
  vertical-align:center;
  display:inline-block;
}
