@font-face {
    font-family: "Tube";
    src: url("Tube.ttf");
}

body{
  background-color: rgb(238, 238, 221);
}

h1,h2 {
    font-family: 'Kanit', sans-serif;
}

a,a:hover{
  color:floralwhite;
}

i{
  color:rgb(106, 115, 137);
}

i:hover{
  color:rgb(238, 238, 221);
}

.thumb-hover:hover{
  background-color: rgb(106, 115, 137);
}

.bg-parl{
  background-image: url("../images/ottawa.jpg");
  background-size: cover;
}

.presentation{
  min-height: 500px;
  text-align:center;
}

.p-footer{
  background-color: rgb(106, 115, 137);
  min-height: 200px;
}
